  body
  {
    color: white;
    background: linear-gradient(red 10%,  cyan 90%);
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 5px double black;
    width: 380px;
    height: 300px; 
  }
  .name_of_objects, #result_object_name   ,#result_object_accuracy
  {
    color: blue; font-family:sans-serif; font-size: 25px;
  }
